@use '../../styles/utils/variables.scss' as *;
@use '../../styles/utils/mixins.scss' as *;

@font-face {
  font-family: 'Mont';
  src: url(/fonts/Mont-Regular.otf);
}

@font-face {
  font-family: 'Mont SemiBold';
  src: url(/fonts/Mont-SemiBold.otf);
}

.dropdown {
  background-color: var(--dropdownBackground);
  width: 136px;
  height: 40px;
  border: 1px solid var(--dropdownBorder);
  border-radius: 8px;
  font-size: 14px;
  line-height: 21px;
  color: $primary-color;
  position: relative;
  font-family: 'Mont', sans-serif;

  @include on-tablet {
    width: 187px;
  }

  @include on-desktop {
    width: 176px;
  }

  &:hover {
    border-color: $secondary-color;
  }

  &__current {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--text {
      font-family: 'Mont SemiBold', sans-serif;
      padding: 10px 0 9px 12px;
    }

    &--icon {
      width: 16px;
      height: 16px;
      color: $icons-color;
      position: absolute;
      right: 12px;
      top: 12px;
      bottom: 12px;

      transition: transform 0.2s ease;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  &__menu {
    position: absolute;
    background-color: #ffffff;
    top: 43px;
    width: 100%;

    border: 1px solid $elements-color;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.05);
    padding: 8px 0;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition:
      max-height 0.3s ease,
      opacity 0.3s ease,
      visibility 0.3s ease;

    &.opened {
      max-height: 250px;
      opacity: 1;
      visibility: visible;
    }

    &--option {
      display: block;
      cursor: pointer;
      color: $secondary-color;
      padding: 6px 0 5px 12px;

      &.selected {
        color: #ffffff;
        background-color: $icons-color;

        &:hover {
          color: #ffffff;
          background-color: $icons-color;
        }
      }

      &:hover {
        background-color: $hover-bg-color;
        color: #000000;
      }
    }
  }
}
