$accent-color: #f86800;
$secondary-accent-color: #476df4;
$primary-color: #0f0f11;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$hover-bg-color: #fafbfc;
$hover-bg-color-dark: #212124;
$white-color: #ffffff;
$black-color: #000000;
$green-color: #27ae60;
$red-color: #eb5757;
$card-box-shadow: #17203166;

//#region Hedder variables
$header-element-gap: 16px;
$header-nav-gap: 32px;
$header-height: 48px;
$header-padding: 14px;
$header-logo-scale: 0.8;

$mobile-large-min-width: 350px;
$tablet-min-width: 640px;
$tablet-large-min-width: 900px;
$desktop-min-width: 1200px;
