@use '../../styles/utils/mixins.scss' as *;

@font-face {
  font-family: 'Mont';
  src: url(../../../fonts/Mont-Regular.otf);
}

@font-face {
  font-family: 'Mont Bold';
  src: url(../../../fonts/Mont-Bold.otf);
}

.notFound {
  font-family: 'Mont', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding-block: 20px;
  color: var(--titleColor);

  @include page-min-height;

  @include on-tablet {
    gap: 15px;
  }

  &__image {
    min-width: 50%;
    max-width: 200px;

    @include on-tablet {
      max-width: 400px;
    }

    @include on-desktop {
      max-width: 500px;
    }
  }

  &__title {
    font-family: 'Mont-Bold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;

    @include on-tablet {
      font-size: 32px;
    }

    @include on-desktop {
      font-size: 48px;
    }
  }

  &__description {
    font-size: 14px;

    @include on-tablet {
      font-size: 20px;
    }

    @include on-desktop {
      font-size: 22px;
    }
  }
}
